h1
{
	color: rgb(255, 208, 0); 
	font-size: 40px;
}
.body_backgorund {
	background-image:url("https://ak.picdn.net/shutterstock/videos/6578723/thumb/1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	background-color: white;
	border-style: ridge;
}
span{
	font-size: 20px;
}